/* ------------------------------------------------
  Project:   iFixandRepair - Software
  Author:    Mario
------------------------------------------------ */
/* ------------------------
    Table of Contents

  1. General
  2. Typography
  3. Helper class
  4. Text color
  5. Background color
  6. Border Radius
  7. Banner
  8. Background Position & Size
  9. Countdown
  10. Terms and Conditions
  11. Privacy Policy
  12. Clients Logo
  13. Contact
  14. Video
  15. Image Box
  16. Side Background
  17. Error Page
  18. List Icon
  19. Bg Animated Image
  20. How It Work
  21. Spinner
  22. Hexagon
  23. Timeline
  24. Other


/* ------------------------
    General
------------------------*/




@import url('https://fonts.googleapis.com/css?family=Heebo:300,400,500,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Charm:400,700');
@import url('https://fonts.googleapis.com/css?family=Poppins&amp;display=swap');


body {font-family: 'Poppins', sans-serif; font-weight: normal; font-style: normal; font-size: 14px; line-height: 1.5; color:#5f5f5f; letter-spacing: 1px;}
body{padding-bottom: 0px !important;}

/* ------------------------
    Typography
------------------------*/
h1, h2, h3, h4, h5, h6{font-weight:normal; margin-top: 0px; margin-bottom: 0px; letter-spacing: 2px; font-family: 'Poppins', sans-serif;}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: inherit; }
h1 { font-size: 60px; font-style: normal; line-height: 70px; font-weight: bold; color: #1c1d3e; letter-spacing: 0;}
h2 { font-size: 40px; font-style: normal; line-height: 46px; font-weight: 600; color: #1c1d3e; margin-bottom: 10px; position: relative;}
h3 { font-size: 30px; font-style: normal; line-height: 36px; font-weight: 500; color: #1c1d3e;}
h4 { font-size: 24px; font-style: normal; margin-bottom: 10px; font-weight: 500; line-height: 30px; color: #1c1d3e;}
h5 { font-size: 20px; font-style: normal; margin-bottom: 10px; font-weight: 500; line-height: 26px; color: #1c1d3e;}
h6 { font-size: 18px; font-style: normal; line-height: 24px; margin-bottom: 10px; color: #1c1d3e;}
/*ul { margin: 0px; padding: 0px; }*/
u {text-decoration-style: wavy;}

/*body.home-2 h1, h2, h3, h4, h5, h6{font-family: 'Ubuntu', sans-serif;}*/
body.home-3 h1, h2, h3, h4, h5, h6{font-family: 'Titillium Web', sans-serif;}
/*body.home-4 h1, h2, h3, h4, h5, h6{font-family: 'Work Sans', sans-serif;}*/
body.home-5 h1, h2, h3, h4, h5, h6{font-family: 'Poppins', sans-serif;}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }
.logo-stores img {height: 30px; margin: 10px 10px;}
input::-webkit-calendar-picker-indicator {
  display: none;
}
/* ------------------------
    Helper class
------------------------*/
p{line-height: 1.7;}
.lead{font-weight: normal; font-size: 14px; line-height: 25px;}
.o-hidden{overflow: hidden;}
.o-x-hidden{overflow-x: hidden;}
.z-index-0 { z-index: 0; position: relative; }
.z-index-1 { z-index: 1; position: relative; }
.img-center{display: inline-block !important; max-width: 100%;}
.img-center-devices{display: inline-block !important; max-width: 50%;}
.pos-r{position: relative;}
.z-index-0{z-index: 0; position: relative;}
.z-index-1{z-index: 1; position: relative;}
h1 span{color: #79d2e3;}
section{padding: 80px 0;}
.section-title{margin-bottom:0px; position: relative;}
.section-title p{font-size: 16px;}
.job-title {font-size: 14px;}
.align-item-middle{display: -webkit-flex; /* Safari */  -webkit-align-items: center; /* Safari 7.0+ */  display: flex; align-items: center;}
.align-item-middle > div{width: 100%;}
.la{line-height: inherit;}

.font-w-3{font-weight: 300;}
.font-w-4{font-weight: 400;}
.font-w-5{font-weight: 500;}
.font-w-6{font-weight: 600;}
.font-w-7{font-weight: 700;}
.font-w-8{font-weight: 800;}
.font-w-9{font-weight: 900;}

.line-h-2{line-height: 1.6;}
.line-h-3{line-height: 1.7;}
.line-h-4{line-height: 1.8;}
.line-h-5{line-height: 1.9;}

.letter-space-1{letter-spacing: 5px;}
.letter-space-2{letter-spacing: 10px;}
.letter-space-3{letter-spacing: 15px;}

.col-md-6-sl {flex:0 0 50%; max-width: 50%; justify-content: center}
.col-md-8-sl {flex:0 0 66%; max-width: 50%; justify-content: center}
.col-md-4-sl {flex:0 0 33%; max-width: 50%; justify-content: center}

/* ------------------------
    Text color
------------------------*/
.text-theme{color: #000000;}
.text-black{color:#1c1d3e !important;}
.text-grey{color:#999999;}
.text-rgba{color: rgba(255,255,255,0.8);}


/* ------------------------
    Shape
------------------------*/
.hero-shape1 { position: absolute; background: rgb(3, 214, 101); background: linear-gradient(58deg, rgba(3, 214, 101, 1) 35%, rgba(115, 41, 194, 1) 100%); width: 120%; height: 120%; border-bottom-right-radius: 50%; transform: rotate(15deg); top: -30%; left: -10%; border: 30px solid rgba(255, 255, 255, 0.050); }
.hero-shape4 { position: absolute; width: 120%; height: 140%; border-radius: 30px; transform: rotate(-15deg); top: -40%; left: 0; background: rgb(3, 214, 101); background: linear-gradient(58deg, rgba(3, 214, 101, 1) 35%, rgba(115, 41, 194, 1) 100%); }
.hero-shape3 { position: absolute; top: -15%; right: -15%; transform: rotate(-90deg); width: 100%; height: 100%; }
.hero-shape5 { position: absolute; background: rgb(3, 214, 101); background: linear-gradient(58deg, rgba(3, 214, 101, 1) 35%, rgba(115, 41, 194, 1) 100%); width: 120%; height: 120%; border-radius: 200px; transform: rotate(-35deg); top: -50%; left: -10%; }
.hero-shape2 { position: absolute; background: rgb(3, 214, 101); background: linear-gradient(58deg, rgba(3, 214, 101, 1) 35%, rgba(115, 41, 194, 1) 100%); width: 140%; height: 140%; border-radius: 0; transform: rotate(-35deg); top: -50%; left: -40%; }
.hero-shape6 { background: rgb(3, 214, 101); background: linear-gradient(58deg, rgba(3, 214, 101, 1) 35%, rgba(115, 41, 194, 1) 100%); overflow: hidden; border-top-left-radius: 500px; width: 60%; display: inline-block; position: absolute; right: -10%; top: 0; border-bottom-left-radius: 500px; transform: rotate(-35deg); height: 60%; }
.hero-shape7 { background: rgb(3, 214, 101); background: linear-gradient(58deg, rgba(3, 214, 101, 1) 35%, rgba(115, 41, 194, 1) 100%); overflow: hidden; border-top-left-radius: 500px; width: 50%; display: inline-block; position: absolute; left: -10%; top: 0; border-bottom-left-radius: 500px; transform: rotate(35deg); height: 50%; }



/* ------------------------
    Banner
------------------------*/
.banner-item{height: 100vh;}
.banner{position: relative;}
.main-slider{height: 100vh;}
.main-slider .item{height: 100vh;}
[data-bg-img]{background-size: cover; background-position: center center; background-repeat: no-repeat;}
.align-center{position: absolute; top: 50%; width: 100%; z-index: 9;}
.align-end{position: absolute; bottom: 0; width: 100%; z-index: 9;}

.banner-2 h1{font-size: 60px; line-height: 70px; font-weight: 400;}
.banner-curves {bottom: 0; position: absolute;}

/* ------------------------
    Background color
------------------------*/
.white-bg{background-color: #ffffff !important;}
.dark-bg{background-color: #02060b;}
.dark-bg-2{background-color: rgba(223, 165, 48, 0.5);}
.grey-bg{background-color: #f3f5ff;}
.yellow-bg{background-color: #dfa530;}
.theme-bg{background-color: #79d2e3;}
.transparent-bg{background-color: inherit !important;}
.grediant-bg{background-color: rgb(0,91,234); background-color: linear-gradient(90deg, #79d2e3 0%, #17a2b8 80%);}


/* ------------------------
    Border Radius
------------------------*/
.radius{-webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;}
.radius-0{-webkit-border-radius:0px; -moz-border-radius:0px; border-radius:0px;}
.radius-1{-webkit-border-radius:10px; -moz-border-radius:10px; border-radius:10px;}
.radius-2{-webkit-border-radius:15px; -moz-border-radius:15px; border-radius:15px;}
.radius-3{-webkit-border-radius:30px; -moz-border-radius:30px; border-radius:30px;}
.radius-4{-webkit-border-radius:50%; -moz-border-radius:50%; border-radius:50%;}


/* ------------------------
    Banner
------------------------*/
.fullscreen-banner{position: relative;}
[data-bg-img]{background-size: cover; background-position: center center; background-repeat: no-repeat;}
.align-center{position: absolute; top: 50%; width: 100%; z-index: 9;}
.align-end{position: absolute; bottom: 0; width: 100%; z-index: 9;}
.fullscreen-banner .owl-carousel, .fullscreen-banner .owl-stage-outer, .fullscreen-banner .owl-stage, .fullscreen-banner .owl-item{height: 100%;}
.hero-bg {left: 0; position: absolute; top: 0;}
.fullscreen-banner .img-side{top: 50%; transform: translateY(-50%); left: -5%; height: auto;}

.banner h5{text-transform: uppercase; padding: 7px 15px; display: inline-block; border-top-left-radius: 7px; border-bottom-right-radius: 7px;}
.bnr-box{background: #fff;}

/* -------------------------------
   Background Position & Size
-------------------------------*/
.bg-cover{background-size: cover;}
.bg-contain{background-size: contain;}
.bg-pos-l{background-position: left;}
.bg-pos-r{background-position: right;}
.bg-pos-rt{background-position: right top;}
.bg-pos-lt{background-position: left top;}
.bg-pos-rb{background-position: right bottom;}
.bg-pos-lb{background-position: left bottom;}


/* ------------------------
    Countdown
------------------------*/
.countdown{margin:50px 0; padding:50px 0; display: table; width: 100%; border-top: 2px dashed rgba(255,255,255,0.5); border-bottom: 2px dashed rgba(255,255,255,0.5);}
.countdown > li{font-weight: 700; text-align: center; list-style-type: none; display: table-cell; width: auto;}
.countdown > li span{font-size:70px; font-weight:700; line-height:60px; display: inline-block;}
.countdown > li p{font-size:20px; display: inline-block; line-height:30px; margin-bottom: 0; color: #1c1d3e;}
.coming-soon .subscribe-form{margin: 0 auto;}


/* ------------------------
    Terms and Conditions
------------------------*/
.terms-and-conditions p{margin-bottom:25px;}
.terms-and-conditions ul.list{margin-bottom:20px; display:block;}
.terms-and-conditions ul.list li i{padding-right:12px; font-size:15px;}


/* ------------------------
    Privacy Policy
------------------------*/
.privacy-policy p{margin-bottom:25px;}
.privacy-policy ul.list{margin-bottom:20px; display:block;}
.privacy-policy ul.list li i{padding-right:12px; font-size:15px;}


/* ------------------------
    Clients Logo
------------------------*/
.clients-logo {background: #fff; padding: 10px 10px; width: 100%; text-align: center; border-radius: 7px;}


/* ------------------------
    Contact
------------------------*/
.contact-media{background: #ffffff; text-align: center; padding: 50px 30px; border-radius: 7px; border-bottom: 3px solid #79d2e3;}
[class*='col-']:nth-child(2) .contact-media{border-bottom: 3px solid #79d2e3;}
.contact-media i{line-height: 70px; font-size: 70px; color: #79d2e3; margin-bottom: 30px; display: inline-block;}
.contact-media span{font-size: 16px; color: #1c1d3e; font-weight: bold; text-transform: uppercase; display: block; margin-bottom: 15px;}
.contact-media p{margin-bottom: 0; line-height: 24px;}
.contact-media a{color: #1c1d3e;}
.contact-media a:hover{color: #79d2e3;}


div.wpforms-container-full .wpforms-form input[type=text],
div.wpforms-container-full .wpforms-form select,
div.wpforms-container-full .wpforms-form input[type=email]{
  height: 50px !important; border-radius: 5px !important; font-size: 13px !important; color: #1c1d3e !important; background: #f3f5ff !important; border: 1px solid transparent !important; box-shadow: none !important;

}

.form-group{margin-bottom: 20px; position: relative;}
 label{font-size: 14px; color: #1c1d3e}
.form-control{height: 50px; border-radius: 5px; font-size: 13px; color: #1c1d3e; background: #f3f5ff; border: 1px solid transparent;}
.theme-bg .form-control .dark-bg .form-control{background: none; border:5px solid rgba(255,255,255,0.1);}
.dark-bg .form-control, .theme-bg .form-control{color: #ffffff;}
.grey-bg .form-control{background: #ffffff}
textarea.form-control{height: 150px; border-radius: 5px;}
.form-control:focus{box-shadow: none; background: none; border-color: #79d2e3;}
.theme-bg .form-control:focus{border-color: #79d2e3;}
select.form-control {-moz-appearance: none; -webkit-appearance: none; appearance: none;}
#map {width: 100%; height: 100%;}
iframe{width: 100%; border: none; pointer-events: none;}
.iframe-h{height: 500px !important;}
.iframe-h-2{height: 600px !important;}
.help-block.with-errors {position: absolute; color: red; right: 15px; font-size: 10px; line-height: 14px;}

.form-control::-webkit-input-placeholder {color: #555;}
.form-control::-moz-placeholder {color: #555;}
.form-control:-ms-input-placeholder {color: #555;}
.form-control:-moz-placeholder {color: #555;}
.dark-bg .form-control::-webkit-input-placeholder,
.theme-bg .form-control::-webkit-input-placeholder {color: #ffffff;}

.dark-bg .form-control::-moz-placeholder, .theme-bg .form-control::-moz-placeholder{color: #ffffff;}
.dark-bg .form-control:-ms-input-placeholder, .theme-bg .form-control:-ms-input-placeholder{color: #ffffff;}
.dark-bg .form-control:-moz-placeholder, .theme-bg .form-control:-moz-placeholder{color: #ffffff;}


/* ------------------------
    Animation
------------------------*/
.bg-img { position: absolute; left: -10%; width: 50%; top: 50%; }
.bg-img.right { left: inherit; right: -10%; }
.image-anim { position: relative; }
.image-anim::before { content: ""; position: absolute; top: -20%; left: -10%; width: 550px; height: 550px; border: 50px solid rgba(223, 165, 48, 0.1); border-radius: 50%; display: inline-block; z-index: -1; animation-name: zoom-fade; animation-duration: 5000ms; transform-origin: 70% 70%; animation-iteration-count: infinite; animation-timing-function: linear; }
.round-anim { content: ""; position: absolute; top: -10%; left: 0; width: 700px; height: 700px; border: 50px solid rgba(223, 165, 48, 0.1); border-radius: 50%; display: inline-block; z-index: -1; animation-name: zoom-fade; animation-duration: 5000ms; transform-origin: 70% 70%; animation-iteration-count: infinite; animation-timing-function: linear; }
.round-anim.right { right: -10%; left: inherit; }
.round-anim.center { left: 50%; margin-left: -350px }
.img-box { background: #ffffff; position: relative; border-radius: 7px; margin-left: 5%; margin-right: 5%; }
.img-box img { border-radius: 7px; }
.img-box::before { content: ""; width: 110%; position: absolute; bottom: 0; background: #fff; left: -5%; border-bottom-left-radius: 50px; border-bottom-right-radius: 50px; box-shadow: 0px 0px 15px 0px rgba(72, 73, 121, 0.15); }
.img-box img { width: 100%; }
.video-box { background: #ffffff; position: relative; border-radius: 7px; }
.effect-img { position: absolute; top: 50%; left: 0; z-index: -1 }
.text-bg { background: rgba(223, 165, 48, 0.1); padding: 10px; border-radius: 7px; color: #122126 }
.title-bg { background: rgba(255, 255, 255, 0.2); border-radius: 7px; display: inline-block; }
.title-theme-bg { background: rgba(3, 214, 101, 0.2); border-radius: 7px; display: inline-block; padding: 3px; }


@keyframes move_wave {
  0% { transform: scaleY(1) }
  50% { transform: scaleY(0.55) }
  100% { transform: scaleY(1) }
}

.banner-wave { position: absolute; width: 100%; height: 100%; bottom: -2px; }
.banner-wave .wave { position: absolute; left: 0; width: 200%; height: 100%; background-repeat: repeat no-repeat; background-position: 0 bottom; transform-origin: center bottom; }
.banner-wave .wave.wave1 { opacity: 0.5 }
.banner-wave .wave.wave2 { background-size: 50% 200px; }
.banner-wave .wave1 { animation: move_wave 10s linear infinite; }
.bg-sec { padding-bottom: 200px; }

/* ------------------------
    Border Radius
------------------------*/
.radius { -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.radius-0 { -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; }
.radius-1 { -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; }
.radius-2 { -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; }
.radius-3 { -webkit-border-radius: 30px; -moz-border-radius: 30px; border-radius: 30px; }
.radius-4 { -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; }
.radius-lb { -webkit-border-bottom-left-radius: 150px; -moz-border-bottom-left-radius: 150px; border-bottom-left-radius: 150px; }
.radius-rt { -webkit-border-top-right-radius: 150px; -moz-border-top-right-radius: 150px; border-top-right-radius: 150px; }

/* ------------------------
    About
------------------------*/
.about-desc {padding: 120px 50px 50px;}
.about-img {position: relative; padding: 15px 0;}


/* ------------------------
    Video
------------------------*/
.video-btn {position: relative; display: inline-block;}
.video-btn .play-btn {font-size: 30px; background: #79d2e3; color: #fff; line-height: 50px; width: 70px; height: 70px; border: 10px solid rgba(0,0,0,0.1); -webkit-border-radius: 100%;
 border-radius: 100%; text-align: center; cursor: pointer; z-index: 9; position: relative; display: inline-block; -webkit-transition: .15s ease-in-out; transition: .15s ease-in-out; -webkit-transition-property: color, background, border-color; transition-property: color, background, border-color; }
.video-btn-pos{position: absolute; position: absolute; left: 50%; top: 50%; width: auto !important; z-index: 99;}
.theme-bg .video-btn .play-btn, .dark-bg .video-btn .play-btn{background: #ffffff; border-color: #ddd; color: #79d2e3;}
.html5-video {height: 100%; left: 0; opacity: 1; overflow: hidden; position: absolute; top: 0; width: 100%; z-index: -2;}
.html5-video video {width: 100%;}
.video-btn .spinner-eff {left: 50%; top: 50%;}


/* ------------------------
    Image Box
------------------------*/
.img-box{background: #ffffff; padding-top: 0px; overflow: hidden; position: relative; border-radius: 7px;}
.img-box img{width: 100%;}
.box-loader {border-radius: 100%; margin: 0 auto; position: absolute; top: 15px; left: 15px;}
.box-loader span{display: inline-block; width: 10px; height: 10px; border-radius: 100%; background: #79d2e3; margin: 0 5px; opacity: 0;}
.box-loader span:nth-child(1){animation: opacitychange 1s ease-in-out infinite;}
.box-loader span:nth-child(2){animation: opacitychange 1s ease-in-out 0.33s infinite;}
.box-loader span:nth-child(3){animation: opacitychange 1s ease-in-out 0.66s infinite;}


/* ------------------------
    Side Background
------------------------*/
.img-side img{max-width: 100%}
.img-side.img-right {right: 0;}
.img-side.img-left {left: 0;}
.img-side {padding: 0; position: absolute!important; top: 0px; height: 100%; overflow: hidden; z-index: 9;}
.image-column {position: absolute; left: 0px; top: 50%;}
.image-column.right {left: inherit; right: 0;}


/* ------------------------
    Error Page
------------------------*/
.error-page {font-size: 350px; font-weight: bold; line-height: 250px; font-family: 'Charm', cursive;}
.error-page > span {display: inline-block; position: relative; color: #79d2e3;}
.error-page > span {display: inline-block; position: relative; vertical-align: middle;}
.error-page > span:nth-of-type(1) {color: #79d2e3; animation: colordancing 4s infinite;}
.error-page > span:nth-of-type(3) {color: #00c9ff; animation: colordancing2 4s infinite;}
.error-page > span:nth-of-type(2) {width: 250px; height: 120px; border-radius: 999px;}
.error-page > span:nth-of-type(2):before,
.error-page > span:nth-of-type(2):after {border-radius: 0%; content:""; position: absolute; top: 0; left: 0; width: inherit; height: inherit; border-radius: 999px; box-shadow: inset 30px 0 0 rgba(0,201,255, 0.4),
inset 0 30px 0 rgba(5,248,161, 0.4), inset -30px 0 0 rgba(255,8,68, 0.4), inset 0 -30px 0 rgba(255,81,47, 0.4); animation: shadowsdancing 4s infinite;}
.error-page > span:nth-of-type(2):before {-webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); transform: rotate(45deg);}
.screen-reader-text {position: absolute; top: -9999em; left: -9999em;}


/* ------------------------
    Bg Animated Image
------------------------*/
.pattern-3{position: absolute; left: 50%; top: 60%;}
.info-img:before {position: absolute; left: 0; top: 0; height: 330px; width: 100%; content: ""; background-image: url(../images/pattern/07.png); z-index: -1;}

/* ------------------------
    Round Animated Image
------------------------*/
.round-animation{background-image: linear-gradient(120deg, #dfa530 0%, #631470 100%);
  border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%; width: 100%; height: 100%; animation: morph 10s linear infinite; transform-style: preserve-3d; outline: 1px solid transparent; will-change: border-radius;}
.round-animation:before,
.round-animation:after{content: ''; width: 100%; height: 100%; display: block; position: absolute; left: 0; top: 0; border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%; will-change: border-radius, transform, opacity; animation-delay: 200ms;
background-image: linear-gradient(120deg, rgba(223,165,48,.55) 0%, rgba(255,120,16,.89) 100%);}
.round-animation:before{animation: morph 3s linear infinite; opacity: .21; animation-duration: 1.5s;}
.round-animation img{position: relative; z-index: 99;}


/* ------------------------
    List Icon
------------------------*/
.list-icon li{position: relative; padding-left: 30px;}
.list-icon li i{position: absolute; left: 0; top: 0; color: #79d2e3; font-size: 22px; line-height: 20px;}
.list-icon-2 li{padding-left: 20px; position: relative;}
.list-icon-2 li:before{content: ""; background: #79d2e3; position: absolute; top: 8px; left: 0; width: 10px; height: 2px; border-radius: 4px;}
.custom-li{display: inline-block;}
.custom-li li {float: left; margin-bottom: 15px; width: calc(100% / 2);}


/* ------------------------
    Bg Animated Image
------------------------*/
.info-img:before {position: absolute; left: 0; top: 0; height: 330px; width: 100%; content: ""; background-image: url(../images/pattern/07.png); z-index: -1;}
.bg-effect::after {background: #f3f5ff; top: 0; content: ""; left: 25%; position: absolute; right: 0; z-index: -1; height: 100%; border-top-left-radius: 50%;}
.bg-effect.right::after{left: 0; right: 25%; border-top-left-radius: 0; border-top-right-radius: 50%;}
.bg-effect-2::before {background: #fff; top: -50px; content: ""; height: 150px; left: 0; overflow: visible; position: absolute; transform: skewY(2deg); width: 100%;}
.bg-effect-3::after {background: #fff; bottom: -60px; content: ""; height: 120px; left: 0; overflow: visible; position: absolute; transform: skewY(-4deg); width: 100%;}
.bg-effect-4::after {background: #79d2e3; border-bottom-left-radius: 30px; border-top-left-radius: 30px; content: ""; height: 80%; right: -20%; position: absolute; top: 10%; transform: rotate(-5deg); width: 70%; z-index: -1;}
.bg-animation {position: absolute; top: -100px; left: 0;}
.wave-shape {position: absolute; width: 100%; height: auto; left: 0; top: 0;}
.wave-bg > use {animation: move-forever 20s linear infinite;}
.wave-bg > use:nth-child(1) {animation-delay: -2s;}
.wave-bg > use:nth-child(2) {animation-delay: -2s; animation-duration: 10s;}
.wave-bg > use:nth-child(3) {animation-delay: -4s; animation-duration: 8s;}
.wave-animation {display: block; width: 100%; height: 8em; max-height: 100vh; margin: 0; position: absolute; bottom: -40px;}


/* ------------------------
    How It Work
------------------------*/
.work-process{position: relative;}
.step-num {background: #fff; border-radius: 50%; color: #000000; display: inline-block; font-size: 18px; font-weight: 600; height: 50px; right: 0; line-height: 55px; position: absolute; text-align: center; top: 0; width: 50px;}
.theme-bg .work-process h4, .theme-bg .work-process p{color: #ffffff;}
.step-icon {background: #fff;width:140px;height:140px;position: relative;border: 3px solid #fafaff;border-radius: 50%;line-height: 140px;font-size: 70px;text-align: center;color: #aeadb3;}
.step-icon span {position: relative;}
.step-icon span::after, .step-icon span::before {border-radius: 50%; content: ""; height: 40px; position: absolute; width: 40px; z-index: -1;}
.step-icon span::after {background: #cdf3f6; height: 25px; left: -10px; top: 5px; width: 25px;}
.step-icon span::before {background: #d4f8e6; bottom: 0; right: -10px;}
.dark-bg .step-icon{color: rgba(255,255,255,0.9); background: none;}
.dark-bg .step-desc h4{color: #79d2e3;}
.dark-bg .step-icon{border-color: rgba(255,255,255,0.1);}
.dark-bg .step-desc p{color: rgba(255,255,255,0.7);}
.step-num-box{position: relative; display: inline-block; margin-bottom: 20px;}
.work-process .box-loader{position: absolute; top: 30%; right: -15%; left: inherit;}
.work-process.style-2 {padding: 0; display: flex; align-items: center;}
.work-process.style-2:before{display: none;}
.work-process.style-2 .step-num-box {margin-bottom: 0; margin-right: 30px;}
.work-process.style-3 {padding: 70px 30px 0;}
.work-process.style-3 .step-num {background: none; box-shadow: none; color: rgba(255, 255, 255, 0.1); font-size: 120px; height: auto; left: 50%; line-height: 120px; margin-bottom: 0; position: absolute; top: 0; transform: translateX(-50%); width: auto;}
#svg-container {position: absolute; width: 100%; left: 52%;  z-index: -1; transform: translateX(-50%); width: 75%;}
#svgC {margin: 0 auto; width: 100%;}


/* ------------------------
    Spinner
------------------------*/
.spinner-eff {position: absolute; width: 200px; height: 200px; bottom: 0;}
.spinner-eff .spinner-circle {border-radius: 100px; position: absolute; left: 0; right: 0; margin: auto; transform: scale(1); transform-origin: center center;}
.spinner-eff .circle-1 {width: 100%; height: 100%; background-color: #60f691;  top: 0; animation: pulse 1.6s linear 0s infinite;}
.spinner-eff .circle-2 {width: 66.6%; height: 66.6%; background-color: #0cca4a; top: 16.5%; animation: pulse-2 1.6s linear 0s infinite;}

/* ------------------------
    Job List
------------------------*/
.job-search { background: #fff; border-radius: 5px; padding: 20px; position: relative; z-index: 99; }
.job-search .form-control { border: none; background: #f3f5ff }
.job-list { padding: 30px; border-radius: 7px; overflow: hidden; position: relative; background: #ffffff; }
.job-list, .job-list-left, .job-list-right { display: flex; justify-content: space-between; align-items: center; }
.job-list-icon { margin-right: 50px; }
.job-list-icon i { color: #dfa530; width: 60px; height: 60px; line-height: 60px; text-align: center; border: 1px solid #dfa530; border-radius: 5px; font-size: 34px }
.job-list-info li { font-size: 13px; }
.job-list-info i { color: #dfa530; font-size: 20px; margin-right: 5px; vertical-align: middle; }
.job-list-time span { background: #f3f5ff; padding: 10px 15px; border-radius: 30px; display: inline-block; color: #122126 }
.job-list-time-2 span { background: #f3f5ff; padding: 10px 15px; border-radius: 30px; display: inline-block; color: #122126 }

/* ------------------------
    Hexagon
------------------------*/
.hexagon-bg{position: absolute; left: 50%; top: 0; width: 100%; display: flex;}
.hexagon-bg.style-2{top: 50%;}
.hexagon {position: relative; margin: 0 auto; width: 10em; height: 17.32em; border-radius: 1em/.5em; background: #fafaff; transition: opacity .5s;}
.hexagon:before, .hexagon:after {position: absolute; width: inherit; height: inherit; border-radius: inherit; background: inherit; content: '';}
.hexagon:before {-webkit-transform: rotate(60deg); transform: rotate(60deg);}
.hexagon:after {-webkit-transform: rotate(-60deg); transform: rotate(-60deg);}
.hexagon:nth-child(2n+2){margin-top: 20px;}
.hexagon-bg.style-2 .hexagon{background: #ff0844; opacity: 0.050}


/* ------------------------
    Timeline
------------------------*/
.timeline {position: relative; margin: 0 auto;}
.timeline:after {content: ''; position: absolute; width: 5px; background: #fafaff; left: 50%; top: 0; bottom: 0; margin-left: -2px;}
.timeline--first:after {top: 20px;}
.timeline-title {text-align: center; position: relative; z-index: 1; padding-bottom: 20px;}
.timeline-title h2 {background: #ffffff; color: #79d2e3; display: inline-block; padding: 10px 20px; border-radius: 7px; font-size: 24px; line-height: 30px;}
.timeline-inner {padding: 10px 30px 40px 30px; width: 50%; position: relative; background-color: inherit;}
.timeline-right {margin-left: 50%;}
.timeline-content {padding: 20px 30px; background: #ffffff; position: relative; border-radius: 7px;}
.timeline-content h3{font-size: 20px; color: #1c1d3e; font-weight: bold;}
.timeline-inner::before {content: ""; display: block; position: absolute; top: 0; right: -16px; margin: auto; height: 32px; width: 32px; border: 3px solid #79d2e3; border-bottom: 3px solid transparent !important; border-radius: 50%; z-index: 9; background: #ffffff;
-webkit-animation: loader-3-1 1.5s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite; animation: loader-3-1 1.5s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;}
.timeline-inner::after {content: ""; position: absolute; top: 0; right: -3px; margin: auto; width: 6px; height: 6px; background: #79d2e3; border-radius: 50%; z-index: 9;
-webkit-animation: loader-3-2 1.5s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite; animation: loader-3-2 1.5s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;}
.timeline-right.timeline-inner::before{right: inherit; left: -16px;}
.timeline-right.timeline-inner::after{right: inherit; left: -3px;}
.timeline-content:before, .timeline-content:after{content: ""; background: #79d2e3; border-radius: 7px; width: 0; height: 3px; position: absolute;}
.timeline-content:before{top: 0; left: 0;}
.timeline-content:after{bottom: 0; right: 0;}
.timeline-inner:hover .timeline-content:before, .timeline-inner:hover .timeline-content:after{width: 10%;}

/*Product Add*/
.product-add{position: relative; overflow: hidden;}
.product-add img{transform: translate3d(-5px, 0px, 0px); width: calc(100% + 10px); max-width: inherit;}
.product-add:hover img{transform: translate3d(0px, 0px, 0px);}
.product-add .product-add-hover {left: 26px; position: absolute; top: 50%; z-index: 99;}
.product-add h4{text-transform: capitalize; font-weight: bold; color: #ffffff}


/* ------------------------
    Other
------------------------*/
#canvas {width: 100%; height: 100%; position: absolute; top: 0; left: 0; opacity: 0.5;}
#confetti {width: 100%; height: 100%; position: absolute; top: 0; left: 0;}
.blink-img{position: absolute; left: 50%; top: 50%; width: 100%;}
.morph-wrap {position: absolute; top: 0; left: -20%; bottom: 0; width: 70%; pointer-events: none; z-index: -1; transform: rotate(-90deg);}
.morph {position: relative; height: 130%; fill: #ffe2e1; flex: none; width: 150%;}
.login-form img{height: 100px;}
.remember-checkbox label{margin-bottom: 0;}
.round-shape {position: absolute; right: 10%; bottom: 0; height: 300px; width: 300px; border-radius: 50%; background: none; border:50px solid #79d2e3; animation: heartbeat 0.5s cubic-bezier(0.245, 0.325, 0.51, 1.305) infinite alternate; opacity: 0.050;}
.col-centered {margin: 0 auto;}


/* ------------------------
    REPAIRS IMAGES
------------------------*/

.r-back-glass {content: url(../images/repairs/back_glass.png);}
.r-battery {content: url(../images/repairs/battery.png);}
.r-broken-screen {content: url(../images/repairs/broken_screen.png);}
.r-charging-port {content: url(../images/repairs/charging_port.png);}
.r-diagnostic {content: url(../images/repairs/diagnostic_other.png);}
.r-water-damage {content: url(../images/repairs/water_damage.png);}


.r-back-glass-tablet {content: url(../images/repairs/back_tablet.png);}
.r-battery-tablet {content: url(../images/repairs/battery_tablet.png);}
.r-broken-screen-tablet {content: url(../images/repairs/broken_tablet.png);}
.r-charging-port-tablet {content: url(../images/repairs/charging_tablet.png);}
.r-diagnostic-tablet {content: url(../images/repairs/other_tablet.png);}
.r-water-damage-tablet {content: url(../images/repairs/water_tablet.png);}

/* ------------------------
    DEVICE IMAGES
------------------------*/


.d-repairs {content: url(../images/repairs/repairs.png);}
.d-repairs-2 {content: url(../images/repairs/repairs_2.png);}

/* ------------------------
    Smartphones
------------------------*/

.d-android {content: url(../images/devices/index.html);}
.d-other {content: url(../images/devices/smartphone2.png);}
.d-other-laptop {content: url(../images/devices/macbook.png);}
.d-other-tablet {content: url(../images/devices/tablet.png);}

/*iphone*/
.d-iphone-mockup {content: url(../images/devices/iphone/iphone-mockup.png);}
.d-iphone-broken {content: url(../images/devices/iphone/brokeniphonef700.png?v=1.0.1);}
.d-iphone {content: url(../images/devices/iphone/iphone.png);}
.d-iphone-12-pro-max {content: url(../images/devices/iphone/iphone12promax.jpg);}
.d-iphone-12-pro {content: url(../images/devices/iphone/iphone12pro.jpg);}
.d-iphone-12 {content: url(../images/devices/iphone/iphone12.jpg);}
.d-iphone-11-pro {content: url(../images/devices/iphone/iphone11pro.jpg);}
.d-iphone-11-pro-max {content: url(../images/devices/iphone/iphone11pro.jpg);}
.d-iphone-11 {content: url(../images/devices/iphone/iphone11.jpg);}
.d-iphone-xs-max {content: url(../images/devices/iphone/iphonexsmax.png);}
.d-iphone-xs {content: url(../images/devices/iphone/iphonexs.png);}
.d-iphone-xr {content: url(../images/devices/iphone/iphonexr.png);}
.d-iphone-x {content: url(../images/devices/iphone/iphonex.png);}
.d-iphone-8-plus {content: url(../images/devices/iphone/iphone8plus.jpg);}
.d-iphone-8 {content: url(../images/devices/iphone/iphone8.jpg);}
.d-iphone-7-plus {content: url(../images/devices/iphone/iphone7plus.jpg);}
.d-iphone-7 {content: url(../images/devices/iphone/iphone7.png);}
.d-iphone-6s-plus {content: url(../images/devices/iphone/iphone6splus.jpg);}
.d-iphone-6s {content: url(../images/devices/iphone/iphone6s.jpg);}
.d-iphone-6-plus {content: url(../images/devices/iphone/iphone6plus.jpg);}
.d-iphone-6 {content: url(../images/devices/iphone/iphone6.png);}
.d-iphone-5se {content: url(../images/devices/iphone/iphone5se.jpg);}
.d-iphone-5s {content: url(../images/devices/iphone/iphone5s.jpg);}
.d-iphone-5c {content: url(../images/devices/iphone/iphone5c.jpg);}
.d-iphone-5 {content: url(../images/devices/iphone/iphone5.jpg);}
.d-iphone-4s {content: url(../images/devices/iphone/iphone4s.jpg);}
.d-iphone-4 {content: url(../images/devices/iphone/iphone4.jpg);}

/*samsung*/

.d-samsung-broken {content: url(../images/devices/samsung/samsungbrokenf700.png?v=1.0.1);}
.d-samsung-mockup {content: url(../images/devices/samsung/samsungmockup.png);}
.d-samsung {content: url(../images/devices/samsung/s9_s9plus.png);}
.d-a51-5g {content: url(../images/devices/samsung/a51_5g.jpg);}
.d-s20-fe-5g {content: url(../images/devices/samsung/s20fe_5g.jpg);}
.d-note20-5g {content: url(../images/devices/samsung/note20_5g.jpg);}
.d-note20-ultra-5g {content: url(../images/devices/samsung/note20ultra_5g.jpg);}
.d-fold {content: url(../images/devices/samsung/fold.jpg);}
.d-z-flip-5g {content: url(../images/devices/samsung/z-flip-5g.jpg);}
.d-z-flip {content: url(../images/devices/samsung/z-flip.jpg);}
.d-s21-5g {content: url(../images/devices/samsung/s21-5g.jpg);}
.d-s21-plus-5g {content: url(../images/devices/samsung/s21plus-5g.jpg);}
.d-s21-ultra-5g {content: url(../images/devices/samsung/s21ultra-5g.jpg);}
.d-s20-5g {content: url(../images/devices/samsung/S20-5G.jpg);}
.d-s20 {content: url(../images/devices/samsung/s20.jpg);}
.d-s20plus {content: url(../images/devices/samsung/s20plus.jpg);}
.d-s20ultra {content: url(../images/devices/samsung/s20ultra.jpg);}
.d-s20ultra-5g {content: url(../images/devices/samsung/S20-Ultra-5G.jpg);}
.d-note10plus {content: url(../images/devices/samsung/note10p%c3%84%c2%baus.html);}
.d-note10 {content: url(../images/devices/samsung/note10.png);}
.d-s10plus {content: url(../images/devices/samsung/s10plus.png);}
.d-s10 {content: url(../images/devices/samsung/s10.png);}
.d-s10e {content: url(../images/devices/samsung/s10e.png);}
.d-note9 {content: url(../images/devices/samsung/note9.jpg);}
.d-s9plus {content: url(../images/devices/samsung/s9_s9plus.png);}
.d-s9 {content: url(../images/devices/samsung/s9.jpg);}
.d-note8 {content: url(../images/devices/samsung/note8.jpg);}
.d-s8 {content: url(../images/devices/samsung/s8.jpg);}
.d-s8-active {content: url(../images/devices/samsung/s8active.jpg);}
.d-s7edge {content: url(../images/devices/samsung/s7edge.jpg);}
.d-s7 {content: url(../images/devices/samsung/s7.jpg);}
.d-s7-active {content: url(../images/devices/samsung/s7active.jpg);}
.d-s6edgeplus {content: url(../images/devices/samsung/s6edgeplus.jpg);}
.d-s6edge {content: url(../images/devices/samsung/s6edge.jpg);}
.d-s6 {content: url(../images/devices/samsung/s6.jpg);}
.d-note5 {content: url(../images/devices/samsung/note5.jpg);}
.d-note4 {content: url(../images/devices/samsung/note4.png);}
.d-note3 {content: url(../images/devices/samsung/note3.jpg);}
.d-a71-5g {content: url(../images/devices/samsung/A71-5g.jpg);}
.d-a71 {content: url(../images/devices/samsung/A71.jpg);}
.d-a90 {content: url(../images/devices/samsung/a90.jpg);}
.d-a9 {content: url(../images/devices/samsung/a92019.jpg);}
.d-a8 {content: url(../images/devices/samsung/a8.png);}
.d-a80 {content: url(../images/devices/samsung/a80.jpg);}
.d-a70 {content: url(../images/devices/samsung/a70.jpg);}
.d-a50 {content: url(../images/devices/samsung/a50.png);}
.d-a40 {content: url(../images/devices/samsung/a40.jpg);}
.d-a20 {content: url(../images/devices/samsung/a20.png);}
.d-a10 {content: url(../images/devices/samsung/a10.jpg);}
.d-a8 {content: url(../images/devices/samsung/a8.png);}
.d-a7 {content: url(../images/devices/samsung/a7.jpg);}
.d-a6 {content: url(../images/devices/samsung/a6.jpg);}
.d-a5 {content: url(../images/devices/samsung/a52017.jpg);}
.d-a3 {content: url(../images/devices/samsung/a3.jpg);}
.d-j8 {content: url(../images/devices/samsung/j8.jpg);}
.d-j7 {content: url(../images/devices/samsung/j7.jpg);}
.d-j6 {content: url(../images/devices/samsung/j6.jpg);}
.d-j5 {content: url(../images/devices/samsung/j5.jpg);}
.d-j4 {content: url(../images/devices/samsung/j4.jpg);}

/*google*/
.d-pixel4a {content: url(../images/devices/google/pixel4a.jpg);}
.d-pixel4xl {content: url(../images/devices/google/Google-Pixel-4.jpg);}
.d-pixel4 {content: url(../images/devices/google/Google-Pixel-4.jpg);}
.d-google {content: url(../images/devices/google/google_pixel_2.png);}
.d-pixel3a {content: url(../images/devices/google/pixel3a.jpg);}
.d-pixel3xl {content: url(../images/devices/google/pixel3xl.jpg);}
.d-pixel3 {content: url(../images/devices/google/pixel3.jpg);}
.d-pixel2xl {content: url(../images/devices/google/pixel2xl.jpg);}
.d-pixel2 {content: url(../images/devices/google/pixel2.jpg);}
.d-pixelxl {content: url(../images/devices/google/pixelxl.jpg);}
.d-pixel {content: url(../images/devices/google/pixel.jpg);}


/*lg*/

.d-lg-v60-thinq-5g-ds {content: url(../images/devices/lg/LG-V60-Thin-Q-5G-Dual-Screen.jpg);}
.d-lg-v60-thinq-5g {content: url(../images/devices/lg/LG-V60-Thin-Q-5G.jpg);}
.d-lg-velvet-5g {content: url(../images/devices/lg/LG-Velvet-5G.jpg);}
.d-lg-g8-thinq {content: url(../images/devices/lg/LG-G8-ThinQ.jpg);}
.d-lg-g8 {content: url(../images/devices/lg/g8.jpg);}
.d-lg-k40 {content: url(../images/devices/lg/LG-K40.jpg);}
.d-lg-stylo-5 {content: url(../images/devices/lg/LG-Stylo-5.jpg);}
.d-lg-v50-thinq {content: url(../images/devices/lg/LG-V50-ThinQ.jpg);}
.d-lg-q8 {content: url(../images/devices/lg/LG-Q8.jpg);}
.d-lg-q7-alpha {content: url(../images/devices/lg/LG-Q7-Alpha.jpg);}
.d-lg-g7 {content: url(../images/devices/lg/g7.png);}
.d-lg-g7one {content: url(../images/devices/lg/g7one.png);}
.d-lg-k9 {content: url(../images/devices/lg/LG-K9.jpg);}
.d-lg-stylo-4 {content: url(../images/devices/lg/LG-Stylo-4---4-Plus.jpg);}
.d-lg-x-power {content: url(../images/devices/lg/LG-X-Power-2-3.jpg);}
.d-lg-v40 {content: url(../images/devices/lg/lg-v40.jpg);}
.d-lg-q7 {content: url(../images/devices/lg/LG-Q7-Q7-Plus.jpg);}
.d-lg-g6 {content: url(../images/devices/lg/g6.jpg);}
.d-lg-stylo-3 {content: url(../images/devices/lg/LG-Stylo-3.jpg);}
.d-lg-x-venture {content: url(../images/devices/lg/LG-X-Venture.jpg);}
.d-lg-v30 {content: url(../images/devices/lg/lgv30.jpg);}
.d-lg-v35 {content: url(../images/devices/lg/lgv35.jpg);}
.d-lg-q6 {content: url(../images/devices/lg/LG-Q6---Q6-Plus.jpg);}
.d-lg-g4 {content: url(../images/devices/lg/LG-G4.jpg);}
.d-lg-g3 {content: url(../images/devices/lg/LG-G3.jpg);}
.d-lg-g5 {content: url(../images/devices/lg/g5.jpg);}
.d-lg-v30-plus {content: url(../images/devices/lg/lg-v30-plus.jpg);}
.d-lg-v35-thinq {content: url(../images/devices/lg/lgv35.jpg);}
.d-lg-v30s-thinq {content: url(../images/devices/lg/LG-V30S-ThinQ.jpg);}
.d-lg-v40-thinq {content: url(../images/devices/lg/LG-V40-V40-ThinQ.jpg);}
.d-lg-stylo-3-plus {content: url(../images/devices/lg/LG-Stylo-3-Plus.jpg);}
.d-lg-k8 {content: url(../images/devices/lg/lg-k8.jpg);}


/*oneplus*/

.d-oneplus-8-pro {content: url(../images/devices/oneplus/OnePlus-8-Pro.jpg);}
.d-oneplus-8 {content: url(../images/devices/oneplus/OnePlus-8.jpg);}
.d-oneplus-7t-pro {content: url(../images/devices/oneplus/OnePlus-7T-Pro.jpg);}
.d-oneplus-7t {content: url(../images/devices/oneplus/OnePlus-7T.jpg);}
.d-oneplus-7pro {content: url(../images/devices/oneplus/oneplus7pro.jpg);}
.d-oneplus-7 {content: url(../images/devices/oneplus/oneplus7.jpg);}
.d-oneplus-6t {content: url(../images/devices/oneplus/oneplus6t.jpg);}
.d-oneplus-6 {content: url(../images/devices/oneplus/oneplus6.jpg);}
.d-oneplus-5t {content: url(../images/devices/oneplus/oneplus5t.jpg);}



/*motorola*/

.d-motorola-one-vision-p50 {content: url(../images/devices/motorola/Motorola-One-Vision-P50.jpg);}
.d-motorola-one-action {content: url(../images/devices/motorola/Motorola-One-Action.jpg);}
.d-motorola-one-zoom {content: url(../images/devices/motorola/Motorola-One-Zoom.jpg);}
.d-motorola-one-p30 {content: url(../images/devices/motorola/One-P30---P30-Play.jpg);}
.d-motorola-one {content: url(../images/devices/motorola/motorolaone.jpg);}
.d-moto-e6 {content: url(../images/devices/motorola/Moto-E6.jpg);}
.d-moto-e5 {content: url(../images/devices/motorola/Moto-E5-Plus---Play.jpg);}
.d-moto-e4 {content: url(../images/devices/motorola/Moto-E4-Plus---Play.jpg);}
.d-moto-z2 {content: url(../images/devices/motorola/Moto-Z2-Force---Play.jpg);}
.d-moto-x4 {content: url(../images/devices/motorola/Moto-X4.jpg);}
.d-moto-g7 {content: url(../images/devices/motorola/motog7.jpg);}
.d-moto-g6 {content: url(../images/devices/motorola/motog6.jpg);}
.d-moto-g5 {content: url(../images/devices/motorola/motog5.jpg);}
.d-moto-z4 {content: url(../images/devices/motorola/motoz4.png);}
.d-moto-z3 {content: url(../images/devices/motorola/Moto-Z3---Z3-Play.jpg);}
.d-motorola-one {content: url(../images/devices/motorola/motorolaone.jpg);}
.d-moto-g5-plus {content: url(../images/devices/motorola/Moto-G5S---G5S-Plus.jpg);}

/*sony*/

.d-xperia-1ii {content: url(../images/devices/sony/xperia1ii.jpg);}
.d-xperia-1 {content: url(../images/devices/sony/xperia1.jpg);}
.d-xperia-5 {content: url(../images/devices/sony/xperia5.jpg);}
.d-xperia-10-plus {content: url(../images/devices/sony/xperia10.jpg);}
.d-xperia-10 {content: url(../images/devices/sony/xperia10.jpg);}
.d-xperia-xz2 {content: url(../images/devices/sony/xperiaxz2.jpg);}
.d-xperia-z2 {content: url(../images/devices/sony/xperiaz2compact.jpg);}
.d-xperia-xa2 {content: url(../images/devices/sony/xperiaxa2.jpg);}
.d-xperia-l2 {content: url(../images/devices/sony/xperial2.jpg);}

/*htc*/
.d-u11 {content: url(../images/devices/htc/u11.jpg);}
.d-u11-life {content: url(../images/devices/htc/u11-life.png);}
.d-u-ultra {content: url(../images/devices/htc/u-ultra.jpg);}
.d-u12 {content: url(../images/devices/htc/u12.jpg);}
.d-one-m9 {content: url(../images/devices/htc/one-m9.jpg);}
.d-u12-plus {content: url(../images/devices/htc/HTC-U12-Plus.jpg);}


/* ------------------------
    Tablets
------------------------*/


/*iPad*/

.d-ipad-broken {content: url(../images/devices/ipad/broken_ipad.png);}
.d-ipad-mockup {content: url(../images/devices/ipad/ipadmockup.png);}
.d-ipad-pro-129-4th-generation {content: url('../images/devices/ipad/iPad-Pro-12.9-4th-Generation.jpg');}
.d-ipad-1293rdgen {content: url('../images/devices/ipad/iPad-Pro-12.html).jpg');}
.d-ipad-pro11-2nd-gen {content: url(../images/devices/ipad/iPad-Pro-11-2nd-Generation.jpg);}
.d-ipad-pro11 {content: url(../images/devices/ipad/iPad-Pro-11.jpg);}
.d-ipad-pro6 {content: url('../images/devices/ipad/iPad-Pro-6-(2018.html).jpg');}
.d-ipad-pro5 {content: url('../images/devices/ipad/iPad-Pro-5-(2017.html).jpg');}
.d-ipad-pro102 {content: url(../images/devices/ipad/ipad10.2.jpg);}
.d-ipad-air2 {content: url(../images/devices/ipad/iPad-Air-2.jpg);}
.d-ipad-3 {content: url(../images/devices/ipad/ipad-3.jpg);}
.d-ipad-2 {content: url(../images/devices/ipad/ipad-2.jpg);}
.d-ipad-mini2 {content: url(../images/devices/ipad/iPad-Mini-2.jpg);}
.d-ipad-mini6 {content: url(../images/devices/ipad/ipadmini6.png);}
.d-ipad-1291stgen {content: url('../images/devices/ipad/iPad-Pro-13.html).jpg');}
.d-ipad-4 {content: url(../images/devices/ipad/ipad-4.jpg);}
.d-ipad-air3 {content: url(../images/devices/ipad/iPad-Air-3-pic2.jpg);}
.d-ipad-mini5 {content: url(../images/devices/ipad/ipad-mini-5.jpg);}
.d-ipad-mini3 {content: url(../images/devices/ipad/iPad-Mini-3.jpg);}
.d-ipad-air {content: url(../images/devices/ipad/iPad-Air.jpg);}
.d-ipad-mini {content: url(../images/devices/ipad/ipad-mini.jpg);}
.d-ipad-mini4 {content: url(../images/devices/ipad/iPad-Mini-4.jpg);}
.d-ipad-pro105 {content: url(../images/devices/ipad/iPad-Pro-10.5.jpg);}
.d-ipad-pro97 {content: url(../images/devices/ipad/iPad-Pro-9.7.jpg);}
.d-ipad-7 {content: url(../images/devices/ipad/iPad-7.jpg);}
.d-ipad-6thgen {content: url(../images/devices/ipad/index.html);}
.d-ipad-5thgen {content: url(../images/devices/ipad/ipad5thgen.html);}
.d-ipad-4thgen {content: url(../images/devices/ipad/ipad4thgen.html);}
.d-ipad-1292ndgen {content: url('../images/devices/ipad/iPad-Pro-14.html).jpg');}


/*Asus Tablets*/
.d-asus {content: url(../images/devices/others/asustablet.jpg);}
.d-zenpad-10 {content: url(../images/devices/asus/ZenPad-10.jpg);}
.d-zenpad-z8 {content: url(../images/devices/asus/Asus-ZenPad-Z8s.jpg);}
.d-zenpad-3s-10 {content: url(../images/devices/asus/Asus-ZenPad-3S-10-LTE.jpg);}
.d-zenpad-3s-8 {content: url(../images/devices/asus/Asus-Zenpad-3S-8.0.jpg);}

/*Lenovo Tablets*/
.d-smart-tab-m8 {content: url(../images/devices/lenovo/Lenovo-Smart-Tab-M8.jpg);}
.d-smart-display-7 {content: url(../images/devices/lenovo/Lenovo-Smart-Display-7.jpg);}
.d-yoga-smart-tab {content: url(../images/devices/lenovo/Lenovo-Yoga-Smart-Tab.jpg);}
.d-smart-tab-m10 {content: url(../images/devices/lenovo/smart-tab-m10.jpg);}
.d-m10 {content: url(../images/devices/lenovo/tab-m10.jpg);}
.d-e8 {content: url(../images/devices/lenovo/Lenovo-E8.jpg);}
.d-e10 {content: url(../images/devices/lenovo/Lenovo-E10.jpg);}
.d-smart-tab-p10 {content: url(../images/devices/lenovo/Lenovo-Smart-Tab-P10.jpg);}
.d-tab-7 {content: url(../images/devices/lenovo/Lenovo-Tab-7---7-Essential.jpg);}
.d-tab-4-10 {content: url(../images/devices/lenovo/Lenovo-Tab-4-10---4-10-Plus.jpg);}
.d-tab-4-8 {content: url(../images/devices/lenovo/Lenovo-Tab-4-8-Plus---4-8-Plus.jpg);}
.d-yoga-a12 {content: url(../images/devices/lenovo/lenovo-yoga-a12.jpg);}


/*Samsung tablets*/
.d-tabs7-plus {content: url('../images/devices/samsung_tablets/galaxy_tab_s7_plus.jpg');}
.d-tabs7 {content: url('../images/devices/samsung_tablets/galaxy_tab_s7.jpg');}
.d-tabs6 {content: url('../images/devices/samsung_tablets/Samsung-Galaxy-Tab-S6-(2019.html).jpg');}
.d-tabs5 {content: url(../images/devices/samsung_tablets/galaxy-tab-5.jpg);}
.d-tabs4 {content: url(../images/devices/samsung_tablets/Samsung-Galaxy-Tab-S4.jpg);}
.d-tabs3 {content: url(../images/devices/samsung_tablets/Samsung-Galaxy-Tab-S3.jpg);}
.d-taba10 {content: url('../images/devices/samsung_tablets/Samsung-Galaxy-Tab-A-10.html).jpg');}
.d-taba102016 {content: url('../images/devices/samsung_tablets/Samsung-Galaxy-Tab-A-11.html).jpg');}
.d-taba8 {content: url('../images/devices/samsung_tablets/Samsung-Galaxy-Tab-A-8.html).jpg');}
.d-taba8plus {content: url('../images/devices/samsung_tablets/Samsung-Galaxy-Tab-A-Plus-8.html).jpg');}
.d-taba7 {content: url('../images/devices/samsung_tablets/Samsung-Galaxy-Tab-A-7.html).jpg');}
.d-view2 {content: url(../images/devices/samsung_tablets/Samsung-Galaxy-View-2.jpg);}
.d-taba82017 {content: url('../images/devices/samsung_tablets/Samsung-Galaxy-Tab-A-9.html).jpg');}


/*Amazon tablets*/
.d-fire-hd8 {content: url(../images/devices/amazon/firehd8.jpg);}
.d-fire-hd10 {content: url(../images/devices/amazon/firehd10.jpg);}
.d-fire-7 {content: url(../images/devices/amazon/fire7.jpg);}
.d-kindle-oasis {content: url(../images/devices/amazon/oasis.jpg);}
.d-kindle-paperwhite {content: url(../images/devices/amazon/paperwhite.jpg);}

/*Google*/
.d-pixelslate {content: url(../images/devices/google/pixelslate.jpg);}
.d-pixelc {content: url(../images/devices/google/pixelc.jpg);}


/* ------------------------
    Computers
------------------------*/

.d-mac-broken {content: url(../images/devices/computers/macbook_wheel.png);}
.d-mac-mockup {content: url(../images/devices/computers/mac-mockup.png);}
.d-macbookpro {content: url(../images/devices/computers/MacBookPro.jpg);}
.d-macbook {content: url(../images/devices/computers/macbook.jpg);}
.d-imac {content: url(../images/devices/computers/iMac.jpg);}
.d-imac-pro {content: url(../images/devices/computers/iMac_Pro.jpg);}
.d-mac-pro {content: url(../images/devices/computers/Mac-Pro.jpg);}
.d-macmini {content: url(../images/devices/computers/MacMini.jpg);}
.d-macbookair {content: url(../images/devices/computers/MacBookAir.jpg);}
.d-laptop {content: url(../images/devices/computers/laptop.jpg);}
.d-pc {content: url(../images/devices/computers/pc.jpg);}


/* ------------------------
    Drones
------------------------*/

.d-drone {content: url(../images/devices/drone.png);}
.d-drone-mockup {content: url(../images/devices/drones/drone_mockup.jpg);}
.d-mavic {content: url(../images/devices/drones/dji-mavic-pro.jpg);}
.d-mavic-2-pro {content: url(../images/devices/drones/mavic-2-pro.jpg);}
.d-mavic-2-zoom {content: url(../images/devices/drones/mavic-2-zoom.jpg);}
.d-mavic-air {content: url(../images/devices/drones/mavic-air.jpg);}
.d-mavic-pro-platinum {content: url(../images/devices/drones/mvic-pro-platinum.jpg);}
.d-mavic-pro {content: url(../images/devices/drones/dji-mavic-pro.jpg);}
.d-osmo {content: url(../images/devices/drones/osmo.jpg);}
.d-phantom {content: url(../images/devices/drones/PHATOM-4.jpg);}
.d-spark {content: url(../images/devices/drones/spark.jpg);}




/* ------------------------
    Game Consoles
------------------------*/

.d-xbox {content: url(../images/devices/consoles/xboxone.jpg);}
.d-ps4 {content: url(../images/devices/consoles/ps4.jpg);}
.d-nintendo {content: url(../images/devices/consoles/switch.jpg);}
.d-game-console { content: url(../images/devices/game-console.png); }


/* ------------------------
    Others
------------------------*/

.d-iwatch-broken {content: url(../images/devices/others/broken_applewatch.png);}
.d-apple-watch-mockup {content: url(../images/devices/others/apple-watch-mockup.png);}
.d-ipod {content: url(../images/devices/others/ipod.jpg);}
.d-applewatch {content: url(../images/devices/others/applewatch.jpg);}
.d-apple-watch-1 {content: url(../images/devices/others/iWatch-Series-1.jpg);}
.d-apple-watch-2 {content: url(../images/devices/others/iWatch-Series-2.jpg);}
.d-apple-watch-3 {content: url(../images/devices/others/iWatch-Series-3.jpg);}
.d-apple-watch-4 {content: url(../images/devices/others/iWatch-Series-4.jpg);}
.d-apple-watch-5 {content: url(../images/devices/others/iWatch-Series-5.jpg);}
.d-garmin {content: url(../images/devices/others/garmin.jpg);}


/* ------------------------
    OTHER IMAGES
------------------------*/

.d-patterns4 {content: url(../images/pattern/04.png);}
.d-whychooseus {content: url(../images/svg/04.svg);}

/*BANNER IMAGES*/

.b-repairs-request {background-image: url(../images/banner/repairs_request_banner.jpg);}
.b-dji {background-image: url(../images/banner/dji_banner.jpg);}
.b-iphone {background-image: url(../images/banner/iphone_banner.jpg);}
.b-motorola {background-image: url(../images/banner/moto_banner.jpg);}
.b-oneplus {background-image: url(../images/banner/oneplus_banner.jpg);}
.b-htc {background-image: url(../images/banner/htc_banner.jpg);}
.b-sony {background-image: url(../images/banner/sony_banner.jpg);}
.b-lg {background-image: url(../images/banner/lg_banner.jpg);}
.b-mac {background-image: url(../images/banner/mac_banner.jpg);}
.b-ipad {background-image: url(../images/banner/ipad_banner.jpg);}
.b-samsung {background-image: url(../images/banner/samsung_banner.jpg);}
.b-repairs {background-image: url(../images/banner/repairs_banner.jpg);}
.b-game-console {background-image: url(../images/banner/banner_gameconsole.jpg); }
.b-google {background-image: url(../images/banner/google_banner.jpg);}
.b-asus {background-image: url(../images/banner/asus_banner.jpg);}
.b-amazon {background-image: url(../images/banner/amazon_banner.jpg);}
.b-lenovo {background-image: url(../images/banner/lenovo_banner.jpg);}
.b-galaxy-tab {background-image: url(../images/banner/galaxytab_banner.jpg);}
.b-google-tablet {background-image: url(../images/banner/googletablet_banner.jpg);}
.b-tablet {background-image: url(../images/banner/tablet_banner.jpg);}
.b-computer {background-image: url(../images/banner/computer_banner.jpg);}
.b-others {background-image: url(../images/banner/others_banner.jpg);}

/*.b-game-console [data-bg-img]*/


/* itips */

.t-battery {content: url(../images/repairs/batterytip.png);}
.t-screen {content: url(../images/repairs/screentip.png);}
.t-protect {content: url(../images/repairs/protectiontip2.png);}

.loader-dots {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 100px;
}

.duo {
  height: 20px;
  width+: 50px;
  background: hsla(0, 0%, 0%, 0.0);
  position: absolute;

}

.duo, .dot {
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.duo1 {
  left: 0;
}

.duo2 {
  left: 30px
}


.dot {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #333;
  position: absolute;
}

.dot-a {
  left: 0px;
}

.dot-b {
  right: 0px;
}


@keyframes spin {
    0% { transform: rotate(0deg) }
   50% { transform: rotate(180deg) }
  100% { transform: rotate(180deg) }
}

@keyframes onOff {
    0% { opacity: 0; }
   49% { opacity: 0; }
   50% { opacity: 1; }
  100% { opacity: 1; }
}

.duo1 {
  animation-name: spin;
}

.duo2 {
  animation-name: spin;
  animation-direction: reverse;
}

.duo2 .dot-b {
  animation-name: onOff;
}

.duo1 .dot-a {
  opacity: 0;
  animation-name: onOff;
  animation-direction: reverse;
}

/*label {
    display:block;
    border:solid 1px gray;
    line-height:40px;
    height:40px;
    border-radius:40px;
    -webkit-font-smoothing: antialiased;
    margin-top:10px;

    color:gray;
    text-align:center;
}*/


/*input.radio:checked + label:before {
    content: "";
}*/

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;

  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}


.autocomplete-items div:hover {
  background-color: #e9e9e9;
}


.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}

#loader-outer {
  background: rgba(0, 0, 0, .4);
  height: 100vh;
  text-align: center;
  vertical-align: center;
  position: fixed;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 999998;

}

#loader {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%) scale(2, 2);
}

#loader > div {
  z-index: 999999;
  background-color: #79d2e3;
}


.map-list-wrap {
    position: relative;
    overflow-y: scroll;
    max-height: 400px;
    width: 100%
}

video {
  width: 100%;
  height: auto;
  border-radius: 10px; 
}

/* Offscreen Element util for Accesiblity texts*/
.offscreen {
     position: absolute;
     left: -999em;
}