:root {
  --thm-root1-color: #79d2e3;
  --thm-root2-color: #fff;
  --thm-primary-color: #000;
  --thm-background: #fff;
  --thm-secondary-background: #f3f5ff;
  --thm-secondary-color: #aeadb3;
  --thm-font: "Poppins", sans-serif;
}

.slick-slide > div {
  margin: 0 40px;
}
.slick-list {
  margin: 0 -40px;
}

.slick-dots li.slick-active button {
  background-color: blue;
}

.header-link:hover .lazyloaded{
  display: flex;
}

.lazyloaded {
  opacity: 1;
  transition: opacity 400ms;
  transition-delay: 0ms;
}


@media (max-width: 850px){
  .slick-slide > div {
    margin: 0 30px;
  }
  .slick-list {
    margin: 0 -30px;
  }

}

@media (max-width: 576px){
  .slick-slide > div {
    margin: 0 10px;
  }
  .slick-list {
    margin: 0 -10px;
  }

}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
